@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.steps {
    margin: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.line {
    display: inline-block;
    border: 2px solid rgba(143, 141, 141, 0.3);
    height: 1px;
    width: 50px;
    transition: 0.2s ease-in;
    
}

.step {
    padding: 10px 17px;
    border: 4px solid rgba(143, 141, 141, 0.3);
    border-radius: 50%;
    font-size: 1.5em;
    color: rgb(143, 141, 141);
    transition: 0.1s ease-in 0.1s;
}

button {
    margin: 0px 10px;
    width: 90px;
    height: 40px;
    background-color: rgba(143, 141, 141, 0.3);
    border: none;
    border-radius: 15%;
    font-size: 1.1em;
    color: #fff;
    transition: 0.1s ease-in;
    
}

button:active {
    transform: scale(0.9);
}

.step.active {
    border: 4px solid rgba(8, 138, 224, 0.7);
}

.line.active {
    border: 2px solid rgba(8, 138, 224, 0.7);
}

button.active {
    background-color: rgba(8, 138, 224, 0.7);  
}