@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease;
    
}

.container.active {
    transform: rotateZ(-20deg);
    top: -35%;
    left: 8%;
}

.content {
    width: 50%;
    margin: 50px auto;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ff6347;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: 1s ease;
}

.circle.active {
    transform: translate(-50%, -50%) rotateZ(-90deg);
}

#dog {
    width: 100%;
}

#pop {
    font-style: italic;
}

#close {
    position: absolute;
    left: 25%;
    bottom: 20%;
    width: 25px;
    cursor: pointer;
}

#burger {
    position: absolute;
    right: 25%;
    bottom: 20%;
    width: 35px;
    cursor: pointer;
}

.info {
    background-color: black;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 50px;
    padding-left: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: -20%;
    z-index: -2;
    transition: 1s ease
}

.info.active {
    left: 0;
}

.image-container {
    margin-bottom: 25px;
}

.info img {
    width: 25px;
    margin-right: 10px;
}

#about {
    margin-left: 25px;
}

#contact {
    margin-left: 50px;
}
